*
{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
.header{
    Background: #1f2937;
    background-size: cover;
    height: 500px;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;  
    margin-top: 25 px; 
}
ul li{
    display: inline-block;
} 
ul li a{
    top: 90%;
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover
{
    background-color: #fff ;
    color: #000;
}
.ima img{
    float: right;
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
}
.logo h1{
    float: left;
    width: 100px;
    height: auto;
    color: yellowgreen;
    font-size: 24px;
    position: absolute;
    transform: translate(0%,10%);
    border: 5px solid #fff;
    padding: 10px 40px;
    background-color: black;
}
.links
{
    max-width: 1200px;
    margin: auto;
}
.title
{
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #F9FAF8;
    font-size: 48px;
}
.button
{
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%,-50%);
    border: 1px solid #fff;
    padding: 10px 30px;
    color: white;
    text-decoration: white;
    background-color: #3882F6;
    font-size: 20px;
}
.btn{
    position: absolute;
    top: 120%;
    left: 34%;
    transform: translate(-50%,-50%);
    color: #E5E7EB;
    font-size: 18px;
}
.syllabus
{
    Background:#fff;
    background-size: cover;
    height: 500px;
    background-position: center;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.syllabus h1{
    font-size: 36px;
    color: #1F2937;   
}
.row
{
   margin-top: 5%;
   display: flex ;
   justify-content: space-between; 
}
.column img
{
width: 250px;
height: 300px;
}
.quotes
{
    background: #E5E7EB;
    background-size: cover;
    height: 300px;
    background-position: center;
    padding-top: 10%;
    text-align: center;
    margin: auto;
}
h2{
    font-style: light italic;
    font-size: 36px;
    color: #1f2937;
    margin-top: -5%;
 
}
.quotes p{
    font-size: 40px;
}
.end
{
    background: white;
    background-size: cover;
    height: 300px;
    background-position: center;
}
.container
{
    width: 90%;
    background-color: blueviolet;
    margin: 90px auto;
    overflow: hidden;
    height: 150px;
}
h4{
    margin: 40px 40px auto 80px;
    font-size: 36px;
    color: white;
}
p1{
    color: white;
    margin: 40px 40px auto 80px;;

}
.button1
{
    position: absolute;
    top: 258%;
    left: 70%;
    transform: translate(-50%,-50%);
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #3882F6;
    text-decoration: white;
    background-color: #3882F6;
    font-size: 20px;
}
.footer
{
    background-color: #1F2937;
    height: 40px;
}
p2
{
    color: white;
    margin-left: 35%;
}
}